html {
  padding: 0;
  margin: 0;
  color: #c2ffad;
  font-size: 20px;
  font-weight: normal;
  background: #3b3d3b;
}

#container {
  position: relative;
  margin: 30px auto;
  padding: 50px;
  border-radius: 50%/5%;
  background-color: #000;
  width: 775px;
}
#container:before {
  position: absolute;
  top: 5%;
  bottom: 5%;
  left: -5%;
  right: -5%;
  content: "";
  background: #000;
  border-radius: 5%/50%;
  z-index: -1;
}

#left {
  display: inline-block;
  vertical-align: top;
  width: 230px;
  height: 600px;
}
#left p {
  margin: 0 0 15px 0;
}
#left #guide {
  margin-top: 80px;
}
#score {
  color: red;
  font-weight: bold;
  vertical-align: middle;
}
#rows {
  color: rgb(107, 107, 248);
  font-weight: bold;
  vertical-align: middle;
}

#centre {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 300px;
  height: 600px;
}
#mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
}
#game-over {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -70px;
  margin-left: -43px;
  visibility: hidden;
  font-weight: bolder;
}
#restart,
#start {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120px;
  margin-top: -20px;
  margin-left: -60px;
  border: none;
  background: #c2ffad;
  color: #000;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  padding: 13px 0;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
}
#restart {
  visibility: hidden;
}
#game {
  background: white;
  width: 300px;
  height: 600px;
}

#right {
  display: inline-block;
  vertical-align: top;
  width: 230px;
  height: 600px;
}
#next-msg {
  margin: 0 0 0 30px;
}
#next {
  margin: 0 0 0 60px;
  width: 200px;
  height: 200px;
}
#qrcode {
  margin: 195px 0 0 50px;
  width: 170px;
}
